<h1>Operations with numbers</h1>

In [1]:
21 * 21 #Returns int

441

In [2]:
21 * 21.0 #Returns float

441.0

In [3]:
21/3 #Returns float (division always returns float)

7.0

In [4]:
21//3 #Returns int

7

In [5]:
21//3.0 #Returns float

7.0

In [6]:
21//3.2 #Returns float whose value is the lower integer bound of 21//3.2

6.0

In [7]:
21%4 #Returns int (the remainder of dividing 21 by 4)

1

In [8]:
21%4.4 #Returns float (21 - 21//4.4)

3.3999999999999986

In [9]:
21**4 #Returns int

194481

In [10]:
21**4.2 #Returns float

357537.0379611622

<h1>String operations</h1>

<h3>Indexing</h3>

In [11]:
x = "Always take a banana to a party!"

In [12]:
x[3] #Returns the 4th (i+1)th character in x

'a'

In [13]:
x[-1] #Returns the last character in x

'!'

In [14]:
x[-2] #Returns the second last character in x

'y'

In [15]:
x[32] #IndexError. Out of range

IndexError: string index out of range

In [16]:
len(x) #Returns the length of the string (an integer)

32

<h3>Slicing</h3>

In [17]:
x[7:11] #Returns the 8th to the 11th character (i.e., 11-7 characters)

'take'

In [18]:
x[7:] #Returns every character starting with location 7 (the 8th character) to the end of the string
#Omitting the endpoint defaults to the "rest of the string"

'take a banana to a party!'

In [22]:
x[0::2] #returns a substring starting from 0, going to the end (omitted), 2 characters at a time

'Awy aeabnn oapry'

In [24]:
x[::-1] #Start from whatever makes sense as the start, go to whatever makes sense as the end, 
#go backward one character at a time
#Here it makes sense to start at the end and go all the way to the beginning (because of the -1)
#Returns a reversed string

'!ytrap a ot ananab a ekat syawlA'

<h3>Searching</h3>

In [25]:
x.find('to') #Returns the location of the first 'to' found

21

In [26]:
x.find('hello') #Returns -1. I.e., the substring was not found in x

-1

<h3>Immutability</h3>

In [27]:
x[3] = 'b' #TypeError. Can't change a string

TypeError: 'str' object does not support item assignment

In [31]:
x = "Hello"
y = x
print(id(x),id(y))
#x and y are the same string

2126074051136 2126074051136

In [32]:
x="Always take a banana to a party!"
print(id(x),id(y))
#x now points to a different string. y is still the same old string at the same old location!

2126073899912 2126074051136

<h3>Concatenation</h3>

In [33]:
#The plus operator concatenates two strings to give rise to a third string
x="Hello"
y="Dolly"
z=x+y
print(x,y,z,id(x),id(y),id(z)) #x, y and z are all different strings

Hello Dolly HelloDolly 2126074051136 2126074052256 2126074073904

In [34]:
#Since python doesn't understand that we need a space between Hello and Dolly, we need to add it ourselves
z = x + " " + y
print(z)

Hello Dolly

<h1>booleans</h1>

In [37]:
x=4
y=2
z=(x==y) #False because x and y are not the same
z=(x==x) #True because x and x are the same
z

True

In [38]:
#Comparison is by value
x = "Hello"
y = "Hello"
print(id(x),id(y)) #Different strings

2126074051080 2126074051080

In [39]:
print(x == y) #But they have the same value

True

In [43]:
x=8
m=0
print(x,bool(x),bool(m),m) #Non-zero numbers, strings with values are always True

8 True False 0

In [44]:
x='' #Empty string
print(x,bool(x)) #Empty strings, 0 numbers are always False

 False

<h3>Logical operators</h3>

In [45]:
x=4
y=5
print(x>2 and y>2) #True because both x and y are greater than 2

True

In [46]:
print(x>2 and y<2) #False because one is False

False

In [47]:
print(x<2 and y<2) #False because both are False

False

In [48]:
print(x>2 or y>2) #True because at least one is True

True

In [49]:
print(x<2 or y>2) #True because at least one is True

True

In [50]:
print(x<2 or y<2) #False because both are False

False

In [51]:
print(not(x>2 or y>2)) #False because x>2 or y>2 is True

False

In [52]:
print(x or y) #4 because x is True (non-zero) so no need to evaluate y. Value of x is returned

4

In [53]:
print(x and 0+3) #3 because x is non-zero but need to check the second operand as well. That evaluates to 3

3

<h1>Assignment</h1>

In [54]:
x = p + 10 #NameError! p is not defined

NameError: name 'p' is not defined

In [55]:
p = 7
x = p + 10 #This works

In [56]:
x,y = 3,4
print(x,y) #x is 3 and y is 4

3 4

In [57]:
x = 7
x += 4 
print(x) #x is 11 because x += 4 is equivalent to x = x+4

11