In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [2]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We will be working with the same medical data used in the `pw` miniproject, but will be leveraging the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!aws s3 sync s3://dataincubator-wqu/dwdata-ease/ ./dw-data

mkdir: cannot create directory ‘dw-data’: File exists

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [5]:
import pandas as pd
import numpy as np
import gzip

In [6]:
#load 2017 data
scripts_file = gzip.open('./dw-data/201701scripts_sample.csv.gz', 'r')
    
scripts = pd.read_csv(scripts_file)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [7]:
scripts_file_16 = gzip.open('./dw-data/201606scripts_sample.csv.gz', 'r')
    
scripts_16 = pd.read_csv(scripts_file_16)
scripts_16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [8]:
practices_file = gzip.open('./dw-data/practices.csv.gz', 'r')

col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv(practices_file, names = col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [9]:
chem = pd.read_csv(gzip.open('./dw-data/chem.csv.gz', 'r'))
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [10]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [11]:
scripts_sum = scripts[['items', 'nic', 'act_cost', 'quantity']].agg(['sum'])
scripts_sum

       items          nic     act_cost   quantity
sum  8888304  71100424.84  66164096.12  721457006

In [12]:
scripts_des = scripts.describe()
scripts_des

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [13]:
scripts_output = pd.concat([scripts_sum, scripts_des.drop(['count','min','max'])])
scripts_output

             items           nic      act_cost      quantity
sum   8.888304e+06  7.110042e+07  6.616410e+07  7.214570e+08
mean  9.133136e+00  7.305892e+01  6.798661e+01  7.413298e+02
std   2.920420e+01  1.880703e+02  1.744017e+02  3.665427e+03
25%   1.000000e+00  7.800000e+00  7.330000e+00  2.800000e+01
50%   2.000000e+00  2.264000e+01  2.122000e+01  1.000000e+02
75%   6.000000e+00  6.500000e+01  6.067000e+01  3.500000e+02

In [14]:
act_cost_l = []
for i in scripts_output['act_cost']:
    act_cost_l.append(i)
    
nic_l = []
for i in scripts_output['nic']:
    nic_l.append(i)

items_l = []
for i in scripts_output['items']:
    items_l.append(i)
    
quantity_l = []
for i in scripts_output['quantity']:
    quantity_l.append(i)

#print(output_list_of_tuples)   
output_list = [('items', tuple(items_l)), ('quantity', tuple(quantity_l)), ('nic', tuple(nic_l)),('act_cost', tuple(act_cost_l))]

In [15]:
def summary_stats():
    return output_list
    #return [('items', (1,) * 6), ('quantity', (1,) * 6), ('nic', (1,) * 6), ('act_cost', (1,) * 6)]

In [16]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [17]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [18]:
scripts_gp = scripts.groupby('bnf_name')['items'].count()
scripts_gp

bnf_name
365 Film 10cm x 12cm VP Adh Film Dress        1
365 Non Adherent 10cm x 10cm Pfa Plas Fa      3
365 Non Adherent 10cm x 20cm Pfa Plas Fa      1
365 Non Woven Island 8cm x 10cm Adh Dres      1
365 Transpt Island 5cm x 7.2cm VP Adh Fi      2
365 Transpt Island 8.5cm x 15.5cm VP Adh      1
3M Micropore Silicone 2.5cm x 5m Surg Ad     10
3M Micropore Silicone 5cm x 5m Surg Adh       7
3m Health Care_Cavilon Durable Barrier C    816
3m Health Care_Cavilon No Sting 1ml Barr    223
3m Health Care_Cavilon No Sting 3ml Barr     94
3m Health Care_Cavilon No Sting Barrier     412
4Head_Top Headache Relief Stick               4
A & P_Infants Pdrs                            5
A.S Saliva Orthana Spy 50ml (App)           121
A.S Saliva Orthana Spy Refill 500ml (App      6
A.T. 10_Soln 0.25mg/1ml                       1
A2A Spacer                                   23
A2A Spacer + Sml/Med Mask                    62
AAA_Sore Throat A/Spy 7.5g                    4
ACC-600_Tab Eff                               1
AMI_Corsinel Suportx Ab Belt High Wte Ex      1
AMI_Corsinel Suportx Ab Belt Low Wte Sml      1
AMI_Corsinel Suportx Ab Tube Wte ExLge (      1
AMI_Corsinel Suportx Ab Tube Wte Lge (94      4
AMI_Corsinel Suportx Ab Tube Wte Med (86      4
AMI_Corsinel Suportx Ab Tube Wte Sml (78      2
AMI_Corsinel Suportx Easy Panel Belt Wte      1
AMI_Corsinel Suportx M/M Fle                  3
AMI_Corsinel Suportx M/M Male                 2
                                           ...
iMEDicare_Low Receptacle                      1
iMEDicare_Tube Assembly Complete              1
iMEDicare_Urine Collection Bag 1200ml         1
iMEDicare_Urine Collection Bag 1500ml         3
iMEDicare_Urine Collection Bag 500ml          3
iMEDicare_Urine Collection Bag 500ml Ven      3
imuDERM Urea Emollient                       18
kliniderm Foam Lite Border 10cm x 10cm W      4
kliniderm Foam Lite Border 15cm x 15cm W      1
kliniderm Foam Lite Border 4cm x 5cm Wou      3
kliniderm Foam Lite Border 7.5cmx7.5cm W      1
kliniderm Foam Slc 10cm x 10cm Wound Dre      2
kliniderm Foam Slc 5cm x 5cm Wound Dress      5
kliniderm Foam Slc Border 10cm x 10cm Wo     20
kliniderm Foam Slc Border 10cm x 20cm Wo      7
kliniderm Foam Slc Border 12.5cmx12.5cm      14
kliniderm Foam Slc Border 15cm x 15cm Wo      6
kliniderm Foam Slc Border 15cm x 20cm Wo      5
kliniderm Foam Slc Border 7.5cm x 7.5cm      11
kliniderm Foam Slc Heel 10cm x 17.5cm Wo      1
kliniderm Foam Slc Sacrum Border 18cmx18      1
kliniderm superabsorbent 10cm x 10cm Pfa     22
kliniderm superabsorbent 10cm x 15cm Pfa     14
kliniderm superabsorbent 20cm x 20cm Pfa     17
kliniderm superabsorbent 20cm x 30cm Pfa     16
nSpire PiKo-1 Stnd Range Peak Flow Meter      1
nSpire Pocket Peak Low Range Peak Flow M      4
nSpire Pocket Peak Stnd Range Peak Flow       5
oraNurse_Toothpaste Orig (1450ppm)            4
palmdoc (Reagent)_Strips                      5
Name: items, Length: 13471, dtype: int64

In [19]:
sums = scripts.groupby('bnf_name').sum()['items']
sums.head()

bnf_name
365 Film 10cm x 12cm VP Adh Film Dress      2
365 Non Adherent 10cm x 10cm Pfa Plas Fa    3
365 Non Adherent 10cm x 20cm Pfa Plas Fa    1
365 Non Woven Island 8cm x 10cm Adh Dres    1
365 Transpt Island 5cm x 7.2cm VP Adh Fi    2
Name: items, dtype: int64

In [20]:
def most_common_item():
    sums = scripts.groupby('bnf_name').sum()['items']
    item = (sums.idxmax(), sums.max())
    return [item]

In [21]:
answer = most_common_item()
answer

[('Omeprazole_Cap E/C 20mg', 218583)]

In [22]:
def most_common_item():
    return (0, 1643)

In [23]:
grader.score('dw__most_common_item', most_common_item)

(0, 1643) is too long

Failed validating 'maxItems' in schema:
    {'items': {'items': [{'type': 'string'}, {'type': 'number'}],
               'maxItems': 2,
               'minItems': 2,
               'type': 'array'},
     'maxItems': 1,
     'minItems': 1,
     'type': 'array'}

On instance:
    (0, 1643)

In [ ]:
most_common_item = [("", 0)]

In [24]:
grader.score.dw__most_common_item(most_common_item)

(0, 1643) is too long

Failed validating 'maxItems' in schema:
    {'items': {'items': [{'type': 'string'}, {'type': 'number'}],
               'maxItems': 2,
               'minItems': 2,
               'type': 'array'},
     'maxItems': 1,
     'minItems': 1,
     'type': 'array'}

On instance:
    (0, 1643)

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [ ]:
practices.head()

In [ ]:
scripts.head()

In [ ]:
srt = practices.sort_values('post_code').drop_duplicates('code', keep='first')
srt.head()

In [ ]:
merged = scripts.merge(srt, left_on='practice', right_on='code')
merged.head()

In [ ]:
total_items_by_postcode = merged.groupby(['post_code','bnf_name'])[['items']].sum()
total_items_by_postcode.head()

In [ ]:
total_items_by_postcode.reset_index(inplace=True)
total_items_by_postcode.head()

In [ ]:
total_items_max = total_items_by_postcode.groupby('post_code')[['items']].max()
total_items_max.head()

In [ ]:
total_items_max.reset_index(inplace=True)
total_items_max.head()

In [ ]:
total_items = total_items_max.merge(total_items_by_postcode, on=['post_code','items'], how = 'left')

In [ ]:
total_items.head()

In [ ]:
total_items_sorted = total_items.sort_values('bnf_name').drop_duplicates(['post_code','items'], keep='first')
total_items_sorted.head()

In [ ]:
total_items_sorted.sort_values('post_code', inplace=True)
total_items_sorted.head()

In [ ]:
total_items_sorted.shape

In [ ]:
s = total_items_by_postcode.groupby('post_code')[['items']].sum().reset_index()
s.head()

In [ ]:
s.shape

In [ ]:
final_df = s.merge(total_items_sorted, on='post_code')
final_df.head()

In [ ]:
final_df['amt%'] = final_df['items_y'].astype(float)/final_df['items_x'].astype(float)
final_df['amt%'].head()

In [ ]:
final_df.head()

In [ ]:
result = final_df[['post_code','bnf_name','amt%']]
result.head()

In [ ]:
result = result.head(100)
values = result.get_values().tolist()

In [ ]:
final=[]

for item in values:
    final.append(tuple(item))

In [ ]:
def items_by_region():
    return final

In [ ]:
print(items_by_region)

In [ ]:
def items_by_region():
    [('AL1 3HD', u'Amoxicillin_Cap 500mg', 0.1026344676180022)] * 100

In [ ]:
grader.score('dw__items_by_region', items_by_region)

In [ ]:
items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [ ]:
grader.score.dw__items_by_region(items_by_region)

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [ ]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

In [ ]:
opioids_join = '|'.join(opioids)
opioids_join

In [ ]:
chem.head()

In [ ]:
opioid_codes = chem.loc[chem['NAME'].str.contains(opioids_join, case=False)]['CHEM SUB'].tolist()
len(opioid_codes)

In [ ]:
chem_new = chem
chem_new.columns = ['bnf_code','chem_name']
chem_new.head()

In [ ]:
scripts.head()

In [ ]:
scripts.shape

In [ ]:
scrpt = scripts
scrpt.head()

In [ ]:
scrpt['opioid_prescription'] = scrpt['bnf_code'].isin(opioid_codes)

In [ ]:
scrpt.shape

In [ ]:
scrpt.head()

In [ ]:
practices.head()

In [ ]:
pract = practices[['code', 'name']]
pract.columns = ['practice', 'name']
pract.head()

In [ ]:
len(scrpt.loc[scrpt['opioid_prescription']])

In [ ]:
opioids_per_practice = scrpt.groupby('practice')['opioid_prescription'].mean().rename('frac')
opioids_per_practice.head()

In [ ]:
opioids_per_practice_std = scrpt.groupby('practice')['opioid_prescription'].std().rename('frac_std')
opioids_per_practice_std.head()

In [ ]:
overall_rate = scrpt['opioid_prescription'].mean()
overall_rate

In [ ]:
overall_rate_std = scrpt['opioid_prescription'].std()
overall_rate_std

In [ ]:
relative_opioids_per_practice = (opioids_per_practice - overall_rate).rename('relative')
relative_opioids_per_practice.head()

In [ ]:
opioid = scrpt.groupby('practice')['opioid_prescription'].sum().rename('opioid')
opioid.head()

In [ ]:
total = scrpt.groupby('practice')['bnf_code'].count().rename('total')
total.head()

In [ ]:
standard_error_per_practice = (overall_rate_std/(total**0.5)).rename('std_err')
standard_error_per_practice.head()

In [ ]:
opioid_scores = (relative_opioids_per_practice/standard_error_per_practice).rename('opioid_scores')
opioid_scores.head()

In [ ]:
merged = pd.concat([opioid, total, opioids_per_practice, relative_opioids_per_practice, standard_error_per_practice,opioid_scores], axis=1)

In [ ]:
merged = merged.reset_index()

In [ ]:
merged.head()

In [ ]:
type(merged)

In [ ]:
merged.shape

In [ ]:
pract.reset_index().head()

In [ ]:
type(pract)

In [ ]:
final_df = merged.merge(pract, on='practice', how='left')

In [ ]:
final_df.head()

In [ ]:
final_df.sort_values('opioid_scores', ascending = False , inplace=True)

In [ ]:
final_df.head()

In [ ]:
final = final_df.drop_duplicates('name')
final.head()

In [ ]:
result = final[['name','opioid_scores','total']]
result.head()

In [ ]:
result = result.head(100)
values = result.get_values().tolist()

In [ ]:
answer=[]

for item in values:
    answer.append(tuple(item))

In [ ]:
def script_anomalies():
    return answer

In [ ]:
print(script_anomalies)

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [ ]:
scripts_chem = pd.merge(scripts, chem, left_on='bnf_code', right_on='CHEM SUB')
scripts_chem.head()

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [ ]:
opioids_per_practice = ...

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [ ]:
relative_opioids_per_practice = ...

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [ ]:
standard_error_per_practice = ...
opioid_scores = ...

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [ ]:
unique_practices = ...
anomalies = ...

In [ ]:
def script_anomalies():
    return [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [ ]:
grader.score('dw__script_anomalies', script_anomalies)

In [ ]:
unique_practices = ...
anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [ ]:
grader.score.dw__script_anomalies(anomalies)

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [ ]:
drugs_16=scripts_16[['bnf_name', 'items']]
drugs_16=drugs_16.groupby('bnf_name').count().reset_index().drop_duplicates()
drugs_16.columns=[['bnf_name', 'count_16']]
drugs_16.head()

In [ ]:
drugs_17=scripts[['bnf_name', 'items']]
drugs_17=drugs_17.groupby('bnf_name').count().reset_index().drop_duplicates()
drugs_17.columns=[['bnf_name', 'count_17']]
drugs_17.head()

In [ ]:
total_16=drugs_16['count_16'].sum()
total_17=drugs_17['count_17'].sum()

In [ ]:
drugs_16['rate_16']=drugs_16['count_16']/total_16.astype(float)
drugs_17['rate_17']=drugs_17['count_17']/total_17.astype(float)

In [ ]:
drugs=drugs_16.merge(drugs_17, on='bnf_name', how='inner').drop_duplicates('bnf_name')
drugs.head()

In [ ]:
drugs['growth']=(drugs['rate_17']-drugs['rate_16'])/drugs['rate_16'].astype(float)
drugs.head()

In [ ]:
total_growth=(total_17-total_16)/total_16.astype(float)
total_growth

In [ ]:
drugs['rel_growth']=drugs['growth']+total_growth
drugs=drugs[(drugs['count_16']>50)]
drugs = drugs[['bnf_name', 'rel_growth', 'count_16']]
drugs.head()

In [ ]:
drugs.sort_values('rel_growth', ascending=False, inplace=True)
drugs.head()

In [ ]:
final = pd.concat([drugs.iloc[0:50], drugs.iloc[len(drugs)-50: len(drugs)]], axis=0)
final.head()

In [ ]:
arr = final.values
arr[:5]

In [ ]:
lst=[]

for item in arr:
    lst.append(tuple(item))

In [ ]:
def script_growth():
    return lst

In [ ]:
grader.score('dw__script_growth', script_growth)

In [ ]:
scripts16 = ...

In [ ]:
script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [ ]:
grader.score.dw__script_growth(script_growth)

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [ ]:
p = ...
rates = ...
rare_codes = ...
scripts['rare'] = ...

In [ ]:
# Calculating probability for each bnf_code
p = 1 / float(scripts['bnf_code'].nunique())

In [ ]:
# Calculating rare prescription i.e ratio of count of bnf_code per prescription and total count

rates = scripts.groupby('bnf_code')['bnf_code'].count().rename('count_prescription').reset_index()
rates.head()

In [ ]:
total_count = scripts['bnf_code'].count().astype(float)
total_count

In [ ]:
rare = rates['count_prescription'] / total_count
rare.head()

In [ ]:
#Filtering the records on the basis of  rate < 0.1p

rare_codes =  rates[rare < 0.1*p]['bnf_code'].tolist()
rare_codes[:5]

In [ ]:
#Creating 'rare' column in scripts
scrpt = scripts
scrpt['rare'] = scrpt['bnf_code'].isin(rare_codes)

In [ ]:
scrpt.head()

In [ ]:
# Calculate total sum of act_cost for all treatment per prescription
treatment_sum = scrpt.groupby('practice')['act_cost'].sum()
treatment_sum.head()

In [ ]:
# Calculate cost for rare treatment per prescription
rare_treatment_sum = scrpt[scrpt['rare']].groupby('practice')['act_cost'].sum()
rare_treatment_sum.head()

In [ ]:
# Calculate proportion of costs that originate from rare treatment i.e ratio of rare_treatment_sum and treatment_sum

rare_cost_prop = (rare_treatment_sum / treatment_sum)
rare_cost_prop.fillna(0, inplace=True)

mean_val = scrpt[scrpt['rare']]['act_cost'].sum() / scrpt['act_cost'].sum()

relative_rare_cost_prop = rare_cost_prop - mean_val 
standard_errors = relative_rare_cost_prop.std()

mean_val, standard_errors

In [ ]:
rare_scores = (relative_rare_cost_prop / standard_errors).rename('z-score').reset_index()
rare_scores.columns =['code','z-score']
rare_scores.head()

In [ ]:
# Sorting rare_score in descendig order of z-score
rare_scores.sort_values('z-score', ascending=False, inplace=True)
rare_scores.columns =['code','z-score']
rare_scores.head()

In [ ]:
practices.head()

In [ ]:
pract = practices[['code','name']].drop_duplicates('code')
pract.head()

In [ ]:
pract.shape

In [ ]:
rare_scores.shape

In [ ]:
#Joining rare_scores with practices to get (practice, name, z-score)
joined_data = pd.merge(rare_scores, pract, on='code', how ='inner')#.drop_duplicates(['code','name'])
joined_data.head()

In [ ]:
joined_data.shape

In [ ]:
joined_data.sort_values('z-score', ascending=False, inplace=True)

In [ ]:
joined_data.reset_index(inplace=True)

In [ ]:
required_cols = ['code', 'name', 'z-score']
final_df = joined_data[required_cols]

In [ ]:
final_df.head()

In [ ]:
final_df.shape

In [ ]:
final_df = final_df.head(100)
arr = final_df.values

In [ ]:
lst=[]

for item in arr:
    lst.append(tuple(item))

In [ ]:
def rare_scripts():
    return lst

In [ ]:
def rare_scripts():
    #return [("Y03106", "CRI GPWSI", 14.516)] * 100
    return [tuple(i) for i in final_df.values][:100]

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [ ]:
rare_cost_prop = ...

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [ ]:
relative_rare_cost_prop = ...

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [ ]:
standard_errors = ...

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [ ]:
rare_scores = ...

In [ ]:
def rare_scripts():
    return [("Y03106", "CRI GPWSI", 14.516)] * 100
    rare_scores.sort_values('act_cost', ascending=False, inplace=True)

In [ ]:
grader.score('dw__rare_scripts', rare_scripts)

In [ ]:
rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [ ]:
grader.score.dw__rare_scripts(rare_scripts)

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*