# Statistics from Stock Data

In this lab we will load stock data into a Pandas Dataframe and calculate some statistics on it. We will be working with stock data from Google, Apple, and Amazon. All the stock data was downloaded from yahoo finance in CSV format. In your workspace you should have a file named GOOG.csv containing the Google stock data, a file named AAPL.csv containing the Apple stock data, and a file  named AMZN.csv containing the Amazon stock data. (You can see the workspace folder by clicking on the Jupyter logo in the upper left corner of the workspace.) All the files contain 7 columns of data:

**Date Open High Low Close Adj_Close Volume**

We will start by reading in any of the above CSV files into a DataFrame and see what the data looks like.

In [8]:
# We import pandas into Python
import pandas as pd

# We read in a stock data data file into a data frame and see what it looks like
df = pd.read_csv('./GOOG.csv')

# We display the first 5 rows of the DataFrame
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

We clearly see that the Dataframe is has automatically labeled the row indices using integers and has labeled the columns of the DataFrame using the names of the columns in the CSV files.

# To Do

You will now load the stock data from Google, Apple, and Amazon into separte DataFrames. However, for each stock data you will only be interested in loading the `Date` and `Adj Close` columns into the Dataframe. In addtion, you want to use the `Date` column as your row index. Finally, you want the DataFrame to recognize the dates as actual dates (year/month/day) and not as strings. For each stock, you can accomplish all theses things in just one line of code by using the appropiate keywords in the `pd.read_csv()` function. Here are a few hints:

* Use the `index_col` keyword to indicate which column you want to use as an index. For example `index_col = ['Open']`

* Set the `parse_dates` keyword equal to `True` to convert the Dates into real dates of the form year/month/day

* Use the `usecols` keyword to select which columns you want to load into the DataFrame. For example `usecols = ['Open', 'High']`

Fill in the code below:

In [16]:
# We load the Google stock data into a DataFrame
google_stock = pd.read_csv('./GOOG.csv',index_col=['Date'], parse_dates=True,usecols=['Date','Adj Close'])

# We load the Apple stock data into a DataFrame
apple_stock = pd.read_csv('./AAPL.csv',index_col=['Date'], parse_dates=True,usecols=['Date','Adj Close'])

# We load the Amazon stock data into a DataFrame
amazon_stock = pd.read_csv('./AMZN.csv',index_col=['Date'], parse_dates=True,usecols=['Date','Adj Close'])

You can check that you have loaded the data correctly by displaying the head of the DataFrames.

In [17]:
# We display the google_stock DataFrame
google_stock.head()

            Adj Close
Date
2004-08-19  49.845802
2004-08-20  53.805050
2004-08-23  54.346527
2004-08-24  52.096165
2004-08-25  52.657513

You will now join the three DataFrames above to create a single new DataFrame that contains all the `Adj Close` for all the stocks. Let's start by creating an empty DataFrame that has as row indices calendar days between `2000-01-01`  and `2016-12-31`. We will use the `pd.date_range()` function to create the calendar dates first and then we will create a DataFrame that uses those dates as row indices:

In [18]:
# We create calendar dates between '2000-01-01' and  '2016-12-31'
dates = pd.date_range('2000-01-01', '2016-12-31')

# We create and empty DataFrame that uses the above dates as indices
all_stocks = pd.DataFrame(index = dates)

             Adj Close
Date
2004-08-19   49.845802
2004-08-20   53.805050
2004-08-23   54.346527
2004-08-24   52.096165
2004-08-25   52.657513
2004-08-26   53.606342
2004-08-27   52.732029
2004-08-30   50.675404
2004-08-31   50.854240
2004-09-01   49.801090
2004-09-02   50.427021
2004-09-03   49.681866
2004-09-07   50.461796
2004-09-08   50.819469
2004-09-09   50.824436
2004-09-10   52.324677
2004-09-13   53.402668
2004-09-14   55.384777
2004-09-15   55.638126
2004-09-16   56.616764
2004-09-17   58.365391
2004-09-20   59.294346
2004-09-21   58.539257
2004-09-22   58.807514
2004-09-23   60.019630
2004-09-24   59.527828
2004-09-27   58.747902
2004-09-28   63.020115
2004-09-29   65.116478
2004-09-30   64.381264
...                ...
2017-09-01  937.340027
2017-09-05  928.450012
2017-09-06  927.809998
2017-09-07  935.950012
2017-09-08  926.500000
2017-09-11  929.080017
2017-09-12  932.070007
2017-09-13  935.090027
2017-09-14  925.109985
2017-09-15  920.289978
2017-09-18  915.000000
2017-09-19  921.809998
2017-09-20  931.580017
2017-09-21  932.450012
2017-09-22  928.530029
2017-09-25  920.969971
2017-09-26  924.859985
2017-09-27  944.489990
2017-09-28  949.500000
2017-09-29  959.109985
2017-10-02  953.270020
2017-10-03  957.789978
2017-10-04  951.679993
2017-10-05  969.960022
2017-10-06  978.890015
2017-10-09  977.000000
2017-10-10  972.599976
2017-10-11  989.250000
2017-10-12  987.830017
2017-10-13  989.679993

[3313 rows x 1 columns]

# To Do

You will now join the the individual DataFrames, `google_stock`, `apple_stock`, and `amazon_stock`, to the `all_stocks` DataFrame. However, before you do this, it is necessary that you change the name of the columns in each of the three dataframes. This is because the column labels in the `all_stocks` dataframe must be unique. Since all the columns in the individual dataframes have the same name, `Adj Close`, we must change them to the stock name before joining them. In the space below change the column label `Adj Close` of each individual dataframe to the name of the corresponding stock. You can do this by using the `pd.DataFrame.rename()` function.

In [20]:
# Change the Adj Close column label to Google
google_stock = google_stock.rename(columns={'Adj Close':'Google'}) 

# Change the Adj Close column label to Apple
apple_stock = apple_stock.rename(columns={'Adj Close':'AAPL'}) 

# Change the Adj Close column label to Amazon
amazon_stock = amazon_stock.rename(columns={'Adj Close':'AMZN'})

You can check that the column labels have been changed correctly by displaying the datadrames

In [21]:
# We display the google_stock DataFrame
google_stock.head()

                 GOOG
Date
2004-08-19  49.845802
2004-08-20  53.805050
2004-08-23  54.346527
2004-08-24  52.096165
2004-08-25  52.657513

Now that we have unique column labels, we can join the individual DataFrames to the `all_stocks` DataFrame. For this we will use the `dataframe.join()` function. The function `dataframe1.join(dataframe2)` joins `dataframe1` with `dataframe2`. We will join each dataframe one by one to the `all_stocks` dataframe. Fill in the code below to join the dataframes, the first join has been made for you:

In [22]:
# We join the Google stock to all_stocks
all_stocks = all_stocks.join(google_stock)

# We join the Apple stock to all_stocks
all_stocks = all_stocks.join(apple_stock)

# We join the Amazon stock to all_stocks
all_stocks = all_stocks.join(amazon_stock)

You can check that the dataframes have been joined correctly by displaying the `all_stocks`  dataframe

In [23]:
# We display the google_stock DataFrame
all_stocks.head()

            GOOG      AAPL     AMZN
2000-01-01   NaN       NaN      NaN
2000-01-02   NaN       NaN      NaN
2000-01-03   NaN  3.596616  89.3750
2000-01-04   NaN  3.293384  81.9375
2000-01-05   NaN  3.341579  69.7500

# To Do

Before we proceed to get some statistics on the stock data, let's first check that we don't have any *NaN* values. In the space below check if there are any *NaN* values in the `all_stocks`  dataframe. If there are any, remove any rows that have *NaN* values:

In [26]:
# Check if there are any NaN values in the all_stocks dataframe
all_stocks.isnull().sum().sum()

# Remove any rows that contain NaN values
all_stocks.dropna(axis=0)

                  GOOG        AAPL        AMZN
2004-08-19   49.845802    1.973460   38.630001
2004-08-20   53.805050    1.979244   39.509998
2004-08-23   54.346527    1.997236   39.450001
2004-08-24   52.096165    2.053144   39.049999
2004-08-25   52.657513    2.123831   40.299999
2004-08-26   53.606342    2.227291   40.189999
2004-08-27   52.732029    2.207371   39.900002
2004-08-30   50.675404    2.192590   38.310001
2004-08-31   50.854240    2.216367   38.139999
2004-09-01   49.801090    2.304405   38.240002
2004-09-02   50.427021    2.291552   39.180000
2004-09-03   49.681866    2.263920   38.740002
2004-09-07   50.461796    2.297979   38.509998
2004-09-08   50.819469    2.335893   38.009998
2004-09-09   50.824436    2.294122   38.070000
2004-09-10   52.324677    2.305047   38.570000
2004-09-13   53.402668    2.287054   40.009998
2004-09-14   55.384777    2.280628   42.669998
2004-09-15   55.638126    2.261993   42.209999
2004-09-16   56.616764    2.335893   42.570000
2004-09-17   58.365391    2.386659   42.959999
2004-09-20   59.294346    2.423287   43.270000
2004-09-21   58.539257    2.442566   43.290001
2004-09-22   58.807514    2.372521   41.380001
2004-09-23   60.019630    2.395013   41.830002
2004-09-24   59.527828    2.396298   40.939999
2004-09-27   58.747902    2.411721   39.930000
2004-09-28   63.020115    2.444494   39.430000
2004-09-29   65.116478    2.485621   40.840000
2004-09-30   64.381264    2.490119   40.860001
...                ...         ...         ...
2016-11-17  771.229980  108.598877  756.400024
2016-11-18  760.539978  108.707527  760.159973
2016-11-21  769.200012  110.357010  780.000000
2016-11-22  768.270020  110.426147  785.330017
2016-11-23  760.989990  109.863159  780.119995
2016-11-25  761.679993  110.416275  780.369995
2016-11-28  768.239990  110.198975  766.770020
2016-11-29  770.840027  110.090332  762.520020
2016-11-30  758.039978  109.161880  750.570007
2016-12-01  747.919983  108.144531  743.650024
2016-12-02  750.500000  108.549500  740.340027
2016-12-05  762.520020  107.769203  759.359985
2016-12-06  759.109985  108.598877  764.719971
2016-12-07  771.190002  109.665604  770.419983
2016-12-08  776.419983  110.742218  767.330017
2016-12-09  789.289978  112.549728  768.659973
2016-12-12  789.270020  111.907722  760.119995
2016-12-13  796.099976  113.774490  774.340027
2016-12-14  797.070007  113.774490  768.820007
2016-12-15  797.849976  114.396751  761.000000
2016-12-16  790.799988  114.544907  757.770020
2016-12-19  794.200012  115.206673  766.000000
2016-12-20  796.419983  115.512863  771.219971
2016-12-21  794.559998  115.621513  770.599976
2016-12-22  791.260010  114.860977  766.340027
2016-12-23  789.909973  115.088142  760.590027
2016-12-27  791.549988  115.819054  771.400024
2016-12-28  785.049988  115.325203  772.130005
2016-12-29  782.789978  115.295570  765.150024
2016-12-30  771.820007  114.396751  749.869995

[3115 rows x 3 columns]

Now that you have eliminated any *NaN* values we can now calculate some basic statistics on the stock prices. Fill in the code below

In [31]:
# Print the average stock price for each stock
print(all_stocks.mean(axis=0))

# Print the median stock price for each stock
print(all_stocks.median(axis=0))

# Print the standard deviation of the stock price for each stock  
print(all_stocks.std(axis=0))

# Print the correlation between stocks
all_stocks.corr()

GOOG    347.420229
AAPL     35.222976
AMZN    166.095436
dtype: float64
GOOG    286.397247
AAPL     17.524017
AMZN     76.980003
dtype: float64
GOOG    187.671596
AAPL     37.945557
AMZN    189.212345
dtype: float64

          GOOG      AAPL      AMZN
GOOG  1.000000  0.900242  0.952444
AAPL  0.900242  1.000000  0.906296
AMZN  0.952444  0.906296  1.000000

We will now look at how we can compute some rolling statistics, also known as moving statistics. We can calculate for example the rolling mean (moving average) of the Google stock price by using the Pandas `dataframe.rolling().mean()` method. The `dataframe.rolling(N).mean()` calculates the rolling mean over an `N`-day window. In other words, we can take a look at the average stock price every `N`  days using the above method. Fill in the code below to calculate the average stock price every 150 days for Google stock

In [35]:
# We compute the rolling mean using a 150-Day window for Google stock
rollingMean = google_stock.rolling(150).mean()

We can also visualize the rolling mean by plotting the data in our dataframe. In the following lessons you will learn how to use **Matplotlib** to visualize data. For now I will just import matplotlib and plot the Google stock data on top of the rolling mean. You can play around by changing the rolling mean window and see how the plot changes.

In [36]:
# this allows plots to be rendered in the notebook
%matplotlib inline 

# We import matplotlib into Python
import matplotlib.pyplot as plt


# We plot the Google stock data
plt.plot(all_stocks['Google'])

# We plot the rolling mean ontop of our Google stock data
plt.plot(rollingMean)
plt.legend(['Google Stock Price', 'Rolling Mean'])
plt.show()

KeyError: 'Google'