<h1>Python and MySQL</h1>

<h2>First import the python module containing the API</h2>

In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.8.0-py2.py3-none-any.whl (83kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.8.0

In [3]:
import pymysql

<h2>Set up a connection and create a cursor object</h2>

In [4]:
db = pymysql.connect("localhost","root","NewPeriod" ,database="schooldb")
cursor = db.cursor()

<h2>Execute a query and get the results</h2>

In [5]:
cursor.execute('show tables;')
cursor.fetchall()

(('course',), ('enrolls_in',), ('student',))

In [8]:
query = """
SELECT course.name,enrolls_in.score FROM student
INNER JOIN enrolls_in ON student.ssn = enrolls_in.ssn 
INNER JOIN course ON course.number = enrolls_in.class
WHERE f_name = "JOHN";
"""
cursor.execute(query)
result = cursor.fetchall()

In [9]:
for thing in result:
    print(thing)

('Data analytics', 93.0)
('Python', 95.0)

In [14]:
query = 'INSERT INTO student VALUES ("678-33-2345","Bing","Crossby","2346789870","New York","10001");'
cursor.execute(query)

1

In [16]:
query = 'SELECT * FROM student'
cursor.execute(query)
cursor.fetchall()

(('111-22-3333', 'JOHN', 'CHILDS', '6461231212', 'New York', '10025'),
 ('123-12-1234', 'Mary', 'Arias', None, 'New York', '10011'),
 ('222-33-4455', 'Lila', 'Pennington', '4251231212', 'Seattle', '98105'),
 ('555-11-7777', 'Roberto', 'Perez', '9173335479', 'San Francisco', '94110'),
 ('678-33-2345', 'Bing', 'Crossby', '2346789870', 'New York', '10001'))

In [17]:
db.commit()