<h1>Pandas</h1>

In [1]:
#installing pandas libraries
!pip install pandas-datareader
!pip install --upgrade html5lib==1.0b8

#There is a bug in the latest version of html5lib so install an earlier version
#Restart kernel after installing html5lib

Requirement already satisfied: pandas-datareader in c:\users\vadymserpak\anaconda3\lib\site-packages
Requirement already satisfied: pandas>=0.19.2 in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: requests-file in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: requests-ftp in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: lxml in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: wrapt in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: requests>=2.3.0 in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: python-dateutil>=2 in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader)
Requirement already satisfied: pytz>=2011k in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader)
Requirement already satisfied: numpy>=1.7.0 in c:\users\vadymserpak\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader)
Requirement already satisfied: six in c:\users\vadymserpak\anaconda3\lib\site-packages (from requests-file->pandas-datareader)
Requirement already up-to-date: html5lib==1.0b8 in c:\users\vadymserpak\anaconda3\lib\site-packages
Requirement already up-to-date: six in c:\users\vadymserpak\anaconda3\lib\site-packages (from html5lib==1.0b8)

<h2>Imports</h2>

In [2]:
import pandas as pd #pandas library
from pandas_datareader import data #data readers (google, html, etc.)
#The following line ensures that graphs are rendered in the notebook
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt #Plotting library
import datetime as dt #datetime for timeseries support

<h2>The structure of a dataframe</h2>

In [3]:
pd.DataFrame([[1,2,3],[1,2,3]],columns=['A','B','C'])

   A  B  C
0  1  2  3
1  1  2  3

<h3>Accessing columns and rows</h3>

My data frame is unchanged because I've
created a new data frame.
I could call this X equals this and do
print X. You see X has row_label as a separate index,
but df is unchanged.
So the in-place equals true is kind of helpful
if you don't want to create a new data frame, which
is probably advisable.
I mean, if you have a data frame that contains, say, three
or four gigabytes of data, you don't
want to create another data frame that
contains three or four gigabytes of data,
or maybe 100 gigabytes of data.
It's going to just use up memory for no reason at all.
So in-place may be not a bad idea.

In [4]:
df = pd.DataFrame([['r1','00','01','02'],['r2','10','11','12'],['r3','20','21','22']],columns=['row_label','A','B','C'])
print(id(df))
print(df)
df.set_index('row_label')#,inplace=True)
print(id(df))
df

1407174210504
  row_label   A   B   C
0        r1  00  01  02
1        r2  10  11  12
2        r3  20  21  22
1407174210504

  row_label   A   B   C
0        r1  00  01  02
1        r2  10  11  12
2        r3  20  21  22

In [27]:
df.set_index('row_label',inplace=True)
print(id(df))
df

1934554703520

            A   B   C
row_label
r1         00  01  02
r2         10  11  12
r3         20  21  22

<h3>Getting column data</h3>

In [28]:
df['B']

row_label
r1    01
r2    11
r3    21
Name: B, dtype: object

<h3>Getting row data</h3>

In [29]:
df.loc['r1']

A    00
B    01
C    02
Name: r1, dtype: object

<h3>Getting a row by row number</h3>

In [30]:
df.iloc[0]

A    00
B    01
C    02
Name: r1, dtype: object

<h3>Getting multiple columns<h3>

In [31]:
df[['B','A']] #Note that the column identifiers are in a list

            B   A
row_label
r1         01  00
r2         11  10
r3         21  20

<h3>Getting a specific cell</h3>

In [32]:
df.loc['r2','B']

'11'

In [33]:
df.loc['r2']['A']

'10'

<h3>Slicing</h3>

In [34]:
df.loc['r1':'r2']

            A   B   C
row_label
r1         00  01  02
r2         10  11  12

In [35]:
df.loc['r1':'r2','B':'C']

            B   C
row_label
r1         01  02
r2         11  12

<h2>Pandas datareader</h2>
<li>Access data from html tables on any web page</li>
<li>Get data from google finance</li>
<li>Get data from the federal reserve</li>

<h3>HTML Tables</h3>
<li>Pandas datareader can read a table in an html page into a dataframe
<li>the read_html function returns a list of all dataframes with one dataframe for each html table on the page

<h4>Example: Read the tables on the google finance page</h4>

In [6]:
df_list = pd.read_html('http://www.bloomberg.com/markets/currencies/major')
print(len(df_list))

1

<h4>The page contains only one table so the read_html function returns a list of one element</h4>

In [7]:
df = df_list[0]
print(df)

   Currency      Value  Change Net Change Time (EDT)  2 Day
0   EUR-USD     1.2288 -0.0017     -0.14%    2:04 PM    NaN
1   USD-JPY   106.1100 -0.2300     -0.22%    2:04 PM    NaN
2   GBP-USD     1.3937  0.0000      0.00%    2:04 PM    NaN
3   AUD-USD     0.7719 -0.0079     -1.01%    2:05 PM    NaN
4   USD-CAD     1.3091  0.0039     +0.30%    2:05 PM    NaN
5   USD-CHF     0.9527  0.0013     +0.14%    2:04 PM    NaN
6   EUR-JPY   130.3900 -0.4600     -0.35%    2:04 PM    NaN
7   EUR-GBP     0.8817 -0.0013     -0.14%    2:04 PM    NaN
8   USD-HKD     7.8421  0.0002     +0.00%    2:04 PM    NaN
9   EUR-CHF     1.1706 -0.0001     -0.01%    2:04 PM    NaN
10  USD-KRW  1066.1500  0.6500     +0.06%    2:29 AM    NaN

<h4>Note that the read_html function has automatically detected the header columns</h4>
<h4>If an index is necessary, we need to explicitly specify it</h4>

In [8]:
df.set_index('Currency',inplace=True)
print(df)

              Value  Change Net Change Time (EDT)  2 Day
Currency
EUR-USD      1.2288 -0.0017     -0.14%    2:04 PM    NaN
USD-JPY    106.1100 -0.2300     -0.22%    2:04 PM    NaN
GBP-USD      1.3937  0.0000      0.00%    2:04 PM    NaN
AUD-USD      0.7719 -0.0079     -1.01%    2:05 PM    NaN
USD-CAD      1.3091  0.0039     +0.30%    2:05 PM    NaN
USD-CHF      0.9527  0.0013     +0.14%    2:04 PM    NaN
EUR-JPY    130.3900 -0.4600     -0.35%    2:04 PM    NaN
EUR-GBP      0.8817 -0.0013     -0.14%    2:04 PM    NaN
USD-HKD      7.8421  0.0002     +0.00%    2:04 PM    NaN
EUR-CHF      1.1706 -0.0001     -0.01%    2:04 PM    NaN
USD-KRW   1066.1500  0.6500     +0.06%    2:29 AM    NaN

<h4>Now we can use .loc to extract specific currency rates</h4>

In [7]:
df.loc['EUR-CHF','Value']

1.1686000000000001

<h3>Working with views and copies</h3>

<h4>Chained indexing creates a copy and changes to the copy won't be reflected in the original dataframe</h4>

In [8]:
eur_usd = df.loc['EUR-USD']['Change'] #This is chained indexing
df.loc['EUR-USD']['Change'] = 1.0 #Here we are changing a value in a copy of the dataframe
print(eur_usd)
print(df.loc['EUR-USD']['Change']) #Neither eur_usd, nor the dataframe are changed

-0.0024
-0.0024

C:\Users\VadymSerpak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
eur_usd = df.loc['EUR-USD','Change'] #eur_usd points to the value inside the dataframe
df.loc['EUR-USD','Change'] = 1.0 #Change the value in the view 
print(eur_usd) #eur_usd is changed (because it points to the view)
print(df.loc['EUR-USD']['Change']) #The dataframe has been correctly updated

-0.0024
1.0

<h2>Getting historical stock prices from Google financs</h2>
Usage: DataReader(ticker,source,startdate,enddate)<br>
Unfortunately, the Yahoo finance datareader has stopped working because of a change to Yahoo's website

In [10]:
from pandas_datareader import data
import datetime as dt
start=dt.datetime(2017, 1, 1)
end=dt.datetime.today()


print(start,end)


df = data.DataReader('IBM', 'google', start, end)

2017-01-01 00:00:00 2018-03-14 22:30:50.820027

C:\Users\VadymSerpak\Anaconda3\lib\site-packages\pandas_datareader\google\daily.py:40: UnstableAPIWarning:
The Google Finance API has not been stable since late 2017. Requests seem
to fail at random. Failure is especially common when bulk downloading.

  warnings.warn(UNSTABLE_WARNING, UnstableAPIWarning)

In [11]:
df

              Open    High     Low   Close    Volume
Date
2017-01-03  167.00  167.87  166.01  167.19   2934299
2017-01-04  167.77  169.87  167.36  169.26   3381432
2017-01-05  169.25  169.39  167.26  168.70   2682301
2017-01-06  168.69  169.92  167.52  169.53   2945536
2017-01-09  169.47  169.80  167.62  167.65   3189891
2017-01-10  167.98  168.09  165.34  165.52   4118694
2017-01-11  166.05  167.76  165.60  167.75   3599464
2017-01-12  167.77  168.01  165.56  167.95   2927973
2017-01-13  167.97  168.48  166.88  167.34   2875433
2017-01-17  166.69  168.18  166.12  167.89   3315655
2017-01-18  167.45  168.59  166.69  166.80   4007779
2017-01-19  166.96  167.45  165.80  166.81   6963386
2017-01-20  167.81  170.64  166.00  170.55  12690029
2017-01-23  170.08  171.25  170.01  171.03   5478224
2017-01-24  171.36  176.00  171.16  175.90   6952369
2017-01-25  176.26  179.25  176.13  178.29   5922462
2017-01-26  178.06  178.88  177.51  178.66   3063924
2017-01-27  178.47  179.20  177.30  177.30   3482311
2017-01-30  176.98  177.07  174.58  175.80   4094755
2017-01-31  175.05  175.58  173.61  174.52   4138962
2017-02-01  175.00  175.70  172.89  174.29   2795745
2017-02-02  174.23  174.97  173.55  174.58   2620526
2017-02-03  175.00  176.34  174.89  175.82   3309288
2017-02-06  175.31  175.98  174.38  175.86   2650785
2017-02-07  176.00  178.62  175.90  178.46   3873455
2017-02-08  177.50  177.50  175.88  176.17   2913126
2017-02-09  176.17  177.80  175.91  177.21   3090710
2017-02-10  177.37  178.87  176.76  178.68   2930710
2017-02-13  179.24  179.90  178.84  179.36   3093372
2017-02-14  178.57  180.13  178.35  180.13   2776528
...            ...     ...     ...     ...       ...
2018-01-30  166.21  166.77  163.16  163.62   4902341
2018-01-31  163.75  164.99  162.76  163.70   4072830
2018-02-01  163.19  164.13  161.90  162.40   4434242
2018-02-02  161.70  162.00  158.87  159.03   5251938
2018-02-05  157.89  158.50  150.00  152.53   8746599
2018-02-06  150.29  155.49  149.11  155.34   9867678
2018-02-07  154.17  155.34  153.28  153.85   6149207
2018-02-08  152.48  153.16  147.50  147.59   6779095
2018-02-09  148.60  150.54  144.40  149.51   7828290
2018-02-12  150.90  152.40  150.30  151.40   5881377
2018-02-13  150.90  151.18  149.64  150.75   4891010
2018-02-14  150.19  155.00  150.00  154.76   5479033
2018-02-15  155.50  156.86  153.70  156.01   5623581
2018-02-16  155.71  157.79  155.69  156.18   4282908
2018-02-20  155.79  155.96  153.87  155.16   4489604
2018-02-21  155.43  156.79  153.90  153.96   3728571
2018-02-22  154.50  155.04  152.79  153.18   4024627
2018-02-23  154.30  155.86  154.07  155.52   3256074
2018-02-26  155.81  158.88  155.51  158.58   3610292
2018-02-27  158.46  159.78  156.53  156.55   4237283
2018-02-28  157.50  158.14  155.80  155.83   3803512
2018-03-01  155.53  156.97  152.79  153.81   4039339
2018-03-02  152.79  154.76  151.88  154.49   3261141
2018-03-05  154.12  157.49  153.75  156.95   3670630
2018-03-06  157.28  157.89  155.16  155.72   3685736
2018-03-07  155.00  158.83  154.73  158.32   4607677
2018-03-08  159.00  159.57  155.07  156.21   6455612
2018-03-09  157.47  159.58  157.30  159.31   5022238
2018-03-12  159.64  161.02  158.87  160.26   5060708
2018-03-13  160.09  162.11  158.81  159.32   4185590

[300 rows x 5 columns]

<h2>Datareader documentation</h2>
http://pandas-datareader.readthedocs.io/en/latest/</h2>

<h3>Working with a timeseries data frame</h3>
<li>The data is organized by time with the index serving as the timeline

<h4>Creating new columns</h4>
<li>Add a column to a dataframe
<li>Base the elements of the column on some combination of data in the existing columns
<h4>Example: Number of Days that the stock closed higher than it opened
<li>We'll create a new column with the header "UP"
<li>And use np.where to decide what to put in the column

In [12]:
df['UP']=np.where(df['Close']>df['Open'],1,0)
df

              Open    High     Low   Close    Volume  UP
Date
2017-01-03  167.00  167.87  166.01  167.19   2934299   1
2017-01-04  167.77  169.87  167.36  169.26   3381432   1
2017-01-05  169.25  169.39  167.26  168.70   2682301   0
2017-01-06  168.69  169.92  167.52  169.53   2945536   1
2017-01-09  169.47  169.80  167.62  167.65   3189891   0
2017-01-10  167.98  168.09  165.34  165.52   4118694   0
2017-01-11  166.05  167.76  165.60  167.75   3599464   1
2017-01-12  167.77  168.01  165.56  167.95   2927973   1
2017-01-13  167.97  168.48  166.88  167.34   2875433   0
2017-01-17  166.69  168.18  166.12  167.89   3315655   1
2017-01-18  167.45  168.59  166.69  166.80   4007779   0
2017-01-19  166.96  167.45  165.80  166.81   6963386   0
2017-01-20  167.81  170.64  166.00  170.55  12690029   1
2017-01-23  170.08  171.25  170.01  171.03   5478224   1
2017-01-24  171.36  176.00  171.16  175.90   6952369   1
2017-01-25  176.26  179.25  176.13  178.29   5922462   1
2017-01-26  178.06  178.88  177.51  178.66   3063924   1
2017-01-27  178.47  179.20  177.30  177.30   3482311   0
2017-01-30  176.98  177.07  174.58  175.80   4094755   0
2017-01-31  175.05  175.58  173.61  174.52   4138962   0
2017-02-01  175.00  175.70  172.89  174.29   2795745   0
2017-02-02  174.23  174.97  173.55  174.58   2620526   1
2017-02-03  175.00  176.34  174.89  175.82   3309288   1
2017-02-06  175.31  175.98  174.38  175.86   2650785   1
2017-02-07  176.00  178.62  175.90  178.46   3873455   1
2017-02-08  177.50  177.50  175.88  176.17   2913126   0
2017-02-09  176.17  177.80  175.91  177.21   3090710   1
2017-02-10  177.37  178.87  176.76  178.68   2930710   1
2017-02-13  179.24  179.90  178.84  179.36   3093372   1
2017-02-14  178.57  180.13  178.35  180.13   2776528   1
...            ...     ...     ...     ...       ...  ..
2018-01-30  166.21  166.77  163.16  163.62   4902341   0
2018-01-31  163.75  164.99  162.76  163.70   4072830   0
2018-02-01  163.19  164.13  161.90  162.40   4434242   0
2018-02-02  161.70  162.00  158.87  159.03   5251938   0
2018-02-05  157.89  158.50  150.00  152.53   8746599   0
2018-02-06  150.29  155.49  149.11  155.34   9867678   1
2018-02-07  154.17  155.34  153.28  153.85   6149207   0
2018-02-08  152.48  153.16  147.50  147.59   6779095   0
2018-02-09  148.60  150.54  144.40  149.51   7828290   1
2018-02-12  150.90  152.40  150.30  151.40   5881377   1
2018-02-13  150.90  151.18  149.64  150.75   4891010   0
2018-02-14  150.19  155.00  150.00  154.76   5479033   1
2018-02-15  155.50  156.86  153.70  156.01   5623581   1
2018-02-16  155.71  157.79  155.69  156.18   4282908   1
2018-02-20  155.79  155.96  153.87  155.16   4489604   0
2018-02-21  155.43  156.79  153.90  153.96   3728571   0
2018-02-22  154.50  155.04  152.79  153.18   4024627   0
2018-02-23  154.30  155.86  154.07  155.52   3256074   1
2018-02-26  155.81  158.88  155.51  158.58   3610292   1
2018-02-27  158.46  159.78  156.53  156.55   4237283   0
2018-02-28  157.50  158.14  155.80  155.83   3803512   0
2018-03-01  155.53  156.97  152.79  153.81   4039339   0
2018-03-02  152.79  154.76  151.88  154.49   3261141   1
2018-03-05  154.12  157.49  153.75  156.95   3670630   1
2018-03-06  157.28  157.89  155.16  155.72   3685736   0
2018-03-07  155.00  158.83  154.73  158.32   4607677   1
2018-03-08  159.00  159.57  155.07  156.21   6455612   0
2018-03-09  157.47  159.58  157.30  159.31   5022238   1
2018-03-12  159.64  161.02  158.87  160.26   5060708   1
2018-03-13  160.09  162.11  158.81  159.32   4185590   0

[300 rows x 6 columns]

<h3>Get summary statistics</h3>
<li>The "describe" function returns a dataframe containing summary stats for all numerical columns
<li>Columns containing non-numerical data are ignored

In [13]:
df.describe()

,Open,High,Low,Close,Volume,UP
count,299.000000,300.000000,299.000000,300.000000,3.000000e+02,300.000000
mean,158.001706,158.852267,157.024348,157.886633,4.517339e+06,0.446667
std,11.260978,11.356502,11.192935,11.309058,2.746712e+06,0.497978
min,139.590000,140.420000,139.130000,139.700000,2.542560e+05,0.000000
25%,150.645000,151.465000,149.880000,150.615000,3.205205e+06,0.000000
50%,154.340000,155.340000,153.520000,154.175000,3.795813e+06,0.000000
75%,166.720000,167.787500,165.580000,166.800000,4.951449e+06,1.000000
max,182.000000,182.790000,180.920000,181.950000,3.049019e+07,1.000000

<h4>Calculate the percentage of days that the stock has closed higher than its open</h4>

In [14]:
df['UP'].sum()/df['UP'].count()

0.44666666666666666

<h4>Calculate percent changes</h4>
<li>The function pct_change computes a percent change between successive rows (times in  timeseries data)
<li>Defaults to a single time delta
<li>With an argument, the time delta can be changed

In [15]:
df['Close'].pct_change() #One timeperiod percent change

Date
2017-01-03         NaN
2017-01-04    0.012381
2017-01-05   -0.003309
2017-01-06    0.004920
2017-01-09   -0.011089
2017-01-10   -0.012705
2017-01-11    0.013473
2017-01-12    0.001192
2017-01-13   -0.003632
2017-01-17    0.003287
2017-01-18   -0.006492
2017-01-19    0.000060
2017-01-20    0.022421
2017-01-23    0.002814
2017-01-24    0.028475
2017-01-25    0.013587
2017-01-26    0.002075
2017-01-27   -0.007612
2017-01-30   -0.008460
2017-01-31   -0.007281
2017-02-01   -0.001318
2017-02-02    0.001664
2017-02-03    0.007103
2017-02-06    0.000228
2017-02-07    0.014784
2017-02-08   -0.012832
2017-02-09    0.005903
2017-02-10    0.008295
2017-02-13    0.003806
2017-02-14    0.004293
                ...
2018-01-30   -0.019065
2018-01-31    0.000489
2018-02-01   -0.007941
2018-02-02   -0.020751
2018-02-05   -0.040873
2018-02-06    0.018423
2018-02-07   -0.009592
2018-02-08   -0.040689
2018-02-09    0.013009
2018-02-12    0.012641
2018-02-13   -0.004293
2018-02-14    0.026600
2018-02-15    0.008077
2018-02-16    0.001090
2018-02-20   -0.006531
2018-02-21   -0.007734
2018-02-22   -0.005066
2018-02-23    0.015276
2018-02-26    0.019676
2018-02-27   -0.012801
2018-02-28   -0.004599
2018-03-01   -0.012963
2018-03-02    0.004421
2018-03-05    0.015923
2018-03-06   -0.007837
2018-03-07    0.016697
2018-03-08   -0.013327
2018-03-09    0.019845
2018-03-12    0.005963
2018-03-13   -0.005865
Name: Close, dtype: float64

In [16]:
n=13
df['Close'].pct_change(n) #n timeperiods percent change

Date
2017-01-03         NaN
2017-01-04         NaN
2017-01-05         NaN
2017-01-06         NaN
2017-01-09         NaN
2017-01-10         NaN
2017-01-11         NaN
2017-01-12         NaN
2017-01-13         NaN
2017-01-17         NaN
2017-01-18         NaN
2017-01-19         NaN
2017-01-20         NaN
2017-01-23    0.022968
2017-01-24    0.039230
2017-01-25    0.056846
2017-01-26    0.053855
2017-01-27    0.057560
2017-01-30    0.062107
2017-01-31    0.040358
2017-02-01    0.037749
2017-02-02    0.043265
2017-02-03    0.047233
2017-02-06    0.054317
2017-02-07    0.069840
2017-02-08    0.032952
2017-02-09    0.036134
2017-02-10    0.015804
2017-02-13    0.006001
2017-02-14    0.008228
                ...
2018-01-30   -0.003411
2018-01-31   -0.003045
2018-02-01   -0.004536
2018-02-02   -0.029417
2018-02-05   -0.095583
2018-02-06   -0.081481
2018-02-07   -0.052473
2018-02-08   -0.092312
2018-02-09   -0.100692
2018-02-12   -0.084477
2018-02-13   -0.088959
2018-02-14   -0.075176
2018-02-15   -0.064688
2018-02-16   -0.045471
2018-02-20   -0.052169
2018-02-21   -0.051970
2018-02-22   -0.036786
2018-02-23    0.019603
2018-02-26    0.020857
2018-02-27    0.017550
2018-02-28    0.055830
2018-03-01    0.028761
2018-03-02    0.020410
2018-03-05    0.041128
2018-03-06    0.006203
2018-03-07    0.014807
2018-03-08    0.000192
2018-03-09    0.026747
2018-03-12    0.040920
2018-03-13    0.040084
Name: Close, dtype: float64

<h3>NaN support</h3>
Pandas functions can ignore NaNs

In [58]:
n=13
df['Close'].pct_change(n).mean()

-0.0023784633175897812

<h3>Rolling windows</h3>
<li>"rolling" function extracts rolling windows
<li>For example, the 21 period rolling window of the 13 period percent change

In [59]:
df['Close'].pct_change(n).rolling(21)

Rolling [window=21,center=False,axis=0]

<h4>Calculate something on the rolling windows</h4>

<h4>Example: mean (the 21 day moving average of the 13 day percent change)

In [60]:
n=13
df['Close'].pct_change(n).rolling(21).mean()

Date
2017-01-03         NaN
2017-01-04         NaN
2017-01-05         NaN
2017-01-06         NaN
2017-01-09         NaN
2017-01-10         NaN
2017-01-11         NaN
2017-01-12         NaN
2017-01-13         NaN
2017-01-17         NaN
2017-01-18         NaN
2017-01-19         NaN
2017-01-20         NaN
2017-01-23         NaN
2017-01-24         NaN
2017-01-25         NaN
2017-01-26         NaN
2017-01-27         NaN
2017-01-30         NaN
2017-01-31         NaN
2017-02-01         NaN
2017-02-02         NaN
2017-02-03         NaN
2017-02-06         NaN
2017-02-07         NaN
2017-02-08         NaN
2017-02-09         NaN
2017-02-10         NaN
2017-02-13         NaN
2017-02-14         NaN
                ...
2018-01-29    0.047122
2018-01-30    0.047196
2018-01-31    0.047661
2018-02-01    0.048201
2018-02-02    0.045384
2018-02-05    0.038451
2018-02-06    0.031452
2018-02-07    0.025804
2018-02-08    0.018114
2018-02-09    0.009823
2018-02-12    0.001808
2018-02-13   -0.005750
2018-02-14   -0.012764
2018-02-15   -0.020671
2018-02-16   -0.027498
2018-02-20   -0.032760
2018-02-21   -0.037812
2018-02-22   -0.041896
2018-02-23   -0.042043
2018-02-26   -0.041923
2018-02-27   -0.042215
2018-02-28   -0.040419
2018-03-01   -0.038887
2018-03-02   -0.037770
2018-03-05   -0.035596
2018-03-06   -0.033900
2018-03-07   -0.028643
2018-03-08   -0.024754
2018-03-09   -0.020982
2018-03-12   -0.014637
Name: Close, dtype: float64

<h4>Calculate several moving averages and graph them</h4>

In [ ]:
ma_8 = df['Close'].pct_change(n).rolling(window=8).mean()
ma_13= df['Close'].pct_change(n).rolling(window=13).mean()
ma_21= df['Close'].pct_change(n).rolling(window=21).mean()
ma_34= df['Close'].pct_change(n).rolling(window=34).mean()
ma_55= df['Close'].pct_change(n).rolling(window=55).mean()

In [ ]:
ma_8.plot()
ma_34.plot()

<h2>Linear regression with pandas</h2>
<h4>Example: TAN is the ticker for a solar ETF. FSLR, RGSE, and SCTY are tickers of companies that build or lease solar panels. Each has a different business model. We'll use pandas to study the risk reward tradeoff between the 4 investments and also see how correlated they are</h4>

In [ ]:
import datetime
import pandas_datareader as data
start = datetime.datetime(2015,7,1)
end = datetime.datetime(2016,6,1)
solar_df = data.DataReader(['FSLR', 'TAN','RGSE','SCTY'],'google', start=start,end=end)['Close']

In [ ]:
solar_df

<h4>Let's calculate returns (the 1 day percent change)</h4>

In [ ]:
rets = solar_df.pct_change()
print(rets)

<h4>Let's visualize the relationship between each stock and the ETF</h4>

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(rets.FSLR,rets.TAN)

In [ ]:
plt.scatter(rets.RGSE,rets.TAN)

In [ ]:
plt.scatter(rets.SCTY,rets.TAN)

<h4>The correlation matrix</h4>

In [ ]:
solar_corr = rets.corr()
print(solar_corr)

<h3>Basic risk analysis</h3>
<h4>We'll plot the mean and std or returns for each ticker to get a sense of the risk return profile</h4>

In [ ]:
plt.scatter(rets.mean(), rets.std())
plt.xlabel('Expected returns')
plt.ylabel('Standard deviations')
for label, x, y in zip(rets.columns, rets.mean(), rets.std()):
    plt.annotate(
        label, 
        xy = (x, y), xytext = (20, -20),
        textcoords = 'offset points', ha = 'right', va = 'bottom',
        bbox = dict(boxstyle = 'round,pad=0.5', fc = 'yellow', alpha = 0.5),
        arrowprops = dict(arrowstyle = '->', connectionstyle = 'arc3,rad=0'))
plt.show()

<h2>Regressions</h2>
http://statsmodels.sourceforge.net/

<h3>Steps for regression</h3>
<li>Construct y (dependent variable series)
<li>Construct matrix (dataframe) of X (independent variable series)
<li>Add intercept
<li>Model the regression
<li>Get the results
<h3>The statsmodels library contains various regression packages. We'll use the OLS (Ordinary Least Squares) model

In [ ]:
import numpy as np
import statsmodels.api as sm
X=solar_df[['FSLR','RGSE','SCTY']]
X = sm.add_constant(X)
y=solar_df['TAN']
model = sm.OLS(y,X,missing='drop')
result = model.fit()
print(result.summary())

<h4>Finally plot the fitted line with the actual y values

In [ ]:
fig, ax = plt.subplots(figsize=(8,6))
ax.plot(y)
ax.plot(result.fittedvalues)